@import "tailwindcss";

.h2.question {
    @apply mb-0 text-xl md:text-3xl xl:text-3xl
}

.h4 {
    @apply md:ml-5 xl:ml-15 text-(--color-gray) text-sm
}

.checkbox-container {
    @apply flex flex-col md:space-x-20 md:flex-row md:flex-wrap md:gap-4 md:ml-15 xl:flex-row xl:flex-wrap p-6 gap-4 xl:gap-6 xl:ml-45
}

.checkbox {
    @apply flex items-center w-full md:w-1/3 xl:w-1/4
}