@import "tailwindcss";

.overlay {
  @apply fixed inset-0 w-full h-full bg-(--color-opaque) transition-all z-999 overflow-hidden flex flex-row p-10 backdrop-blur-lg justify-center items-center;
}

.container {
  @apply relative rounded-2xl bg-(--color-primary) p-4 flex flex-row h-fit md:flex-col! md:items-center md:justify-center md:w-[90%] md:max-w-[700px] md:h-auto w-fit! xl:flex-col! xl:items-center xl:justify-center;
}

/* UPLOADS */

.button {
  @apply p-1 rounded-2xl w-[50%] xl:py-1 xl:text-xl md:py-1 md:text-xl;
}

.button:hover {
  @apply shadow-xl/25;
}

.button.proceed {
  @apply bg-(--color-red) text-(--color-text-primary);
}

.button.proceed:hover {
  @apply bg-(--color-red-dark);
}

.button.cancel {
  @apply bg-(--color-text-primary) text-(--color-primary);
}

.button.cancel:hover {
  @apply bg-(--color-text-secondary);
}

/* RESULTS */
.books-card-container {
  @apply items-stretch;
}

/* Responsive card sizing for horizontal slider */
.book-card {
  @apply flex flex-col flex-none w-[75%] sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-2;
}

.book-image {
  @apply h-auto w-[70%] sm:w-[60%] md:w-full object-contain mb-1 mx-auto;
}

/* Center title and author, remove extra spacing */
.book-text {
  @apply flex flex-col items-center justify-start gap-0;
}

.book-title {
  @apply font-semibold leading-tight text-center mb-0;
}

.author {
  @apply font-light text-sm text-center mt-0;
}
