@import "tailwindcss";

@font-face {
    font-family: 'CooperBT';
    src: url('assets/fonts/CooperBT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-red: #FF5757;
  --color-red-dark: #ca2e2e;
  --font-logo: 'CooperBT' sans-serif;
  --font-all: 'Poppins', sans-serif;

  font-family: var(--font-all);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark {
  --color-primary: #373737;
  --color-secondary: #303030;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #8E8E8E;
  --color-opaque: #000000b6;
}

html.light {
  --color-primary: #FFFFFF;
  --color-secondary: #dfdfdf;
  --color-text-primary: #373737;
  --color-text-secondary: #737373;
  --color-opaque: #7373738f;
}

body {
  background: var(--color-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease, color 0.25s ease;
}