@import "tailwindcss";

.logo {
    @apply font-[--font-logo] text-5xl;
}

.nav-container {
    @apply w-full p-5 xl:p-5 fixed top-0 z-999 transition-all duration-200;
}

.nav-items {
    @apply flex flex-row justify-between;
}

.nav-link.mobile {
    @apply mb-6 text-2xl font-[--font-logo];
}

.nav-link {
    @apply text-2xl font-[--font-logo];
}

.nav-link.active {
    @apply underline;
}

.scrolled {
    @apply backdrop-blur-lg shadow-xl/20;
}