@import "tailwindcss";

.logo {
    @apply font-[--font-logo] text-5xl;
}

.nav-container {
    @apply w-full p-5 fixed top-0 z-999 transition-all duration-200;
}

.nav-items {
    @apply flex flex-row justify-between;
}

.nav-links-container {
    @apply hidden md:flex xl:flex gap-15 ml-15 justify-center p-2;
}

.nav-link.mobile {
    @apply mb-6 text-2xl font-[--font-logo];
}

.nav-link {
    @apply text-2xl font-[--font-logo] mt-0.5;
}

.nav-link.active {
    @apply underline;
}

.scrolled {
    @apply backdrop-blur-lg shadow-xl/20;
}

.mobile-menu {
    @apply fixed inset-y-0 right-0 w-64 bg-(--color-primary) md:hidden xl:hidden z-50 p-6 flex flex-col transform transition-transform duration-300 ease-out
}